:root {
  --Green: #85a392;
  --orange: #f5b971;
  --yellow: #fdd998;
  --beige: #ffecc7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--Green);
  display: grid;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.fondo {
  display: grid;
  justify-content: center;
  box-shadow: 5px 6px 15px 0px rgba(0, 0, 0, 0.3);
  grid-template-columns: repeat(auto-fit, 340px);
  /* grid-auto-flow: row;
  grid-auto-rows: max-content; */
  /* grid-template-rows: repeat(auto); */
  /* gap: 15px; */
}

.c {
  display: grid;
  width:inherit;
  height: 600px;
  background-color: var(--beige);
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  column-gap: 15px;
  padding: 0 7.5px 0 ;
}

.c1 {
  
}
