:root {
  --Green: #85a392;
  --orange: #f5b971;
  --yellow: #fdd998;
  --beige: #ffecc7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--yellow);
  display: grid;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.fondo {
  display: grid;
  justify-content: center;
  box-shadow: 5px 6px 15px 0px rgba(0, 0, 0, 0.3);
  grid-template-columns: repeat(auto-fit, 340px);
  /* grid-auto-flow: row;
  grid-auto-rows: max-content; */
  /* grid-template-rows: repeat(auto); */
  /* gap: 15px; */
}

.c {
  display: grid;
  width: inherit;
  height: 600px;
  background-color: var(--beige);
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  column-gap: 15px;
}

.c1 {
  padding-right: 7.5px;
}

.c2 {
  padding: 0 7.5px 0;
}

.c3 {
  padding-left: 7.5px;
}

.macandcheesee {
  width: 130px;
  height: 170px;
  object-fit: scale-down;
  object-position: center;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  transform: rotate(270deg);
  align-self: start;
  justify-self: center;
  z-index: 1;
}

.r1 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  width: 170px;
  height: 120px;
  background-color: var(--orange);
  place-self: end;
  z-index: 0;
  margin-bottom: 5px;
}

.r2 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  width: 170px;
  height: 120px;
  background-color: var(--orange);
  align-self: top;
  justify-self: end;
  z-index: 0;
  margin-top: 5px;
}

.meat {
  width: 140px;
  height: 140px;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  place-self: end;
  margin-bottom: 5px;
}

.r3 {
  background-color: var(--Green);
  width: 45px;
  height: 300px;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  align-self: flex-end;
}

.c1 p {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  z-index: 1;
  margin-top: 5px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 14px;
  text-align: justify;
}
